.example-full-width {
    width: 100%;
  }
  .mat-expansion-panel{
    width: 50%;
    margin: auto;
    margin-top: 20px;
  }

mat-grid-title{
    padding: 10px;
}
mat-card{
    width: 90%;
    height: fit-content;
}